
<!DOCTYPE html>
<html lang="en">



<body>
    <div class="container">
        <div style="margin-bottom:50px;">
            <hr>
            <img style="float:right; width:75%; margin:10px;", src="http://i273.photobucket.com/albums/jj216/angie__xoxo__22/photography/green-banner.jpg")>
            <h3>
              ABES has designed a patent pending anaerobic digestion system combining proven technogologies creating a disruptive technology. ABES is structured with a board of directors with expertise and success in both the start up world as well as the renewable energy field and has put together a highly qualified management team.  ABES has established relationships with strategic partners and key suppliers.  Right now ABES is currently actively fund raising $5,000,000 for the inaugural project at an active waste water facility through our EquityNet website (**website citation here**), and through private funders.
            </h3>
        </div>
    </div>
    
    <!-- Core JavaScript Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<!--     // <script src="js/bootstrap.min.js"></script>
    // <script src="js/main.js"></script> -->
    <script>
        $(".ticketbud").click(function(){
             window.location=$(this).find("a").attr("href"); 
             return false;
        });
    </script>
</body>

</html>
