<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ABES - Anaerobic Digestion For The Future</title>


</head>

<body>
    <body id="page-top" data-spy="scroll" data-target=".navbar-custom">

    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="page-scroll">
                        <a href="/">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a href="abes/what">What We Do</a>
                    </li>
                    <li class="page-scroll">
                        <a href="abes/power_point">How We Do It</a>
                    </li>
                    <li class="page-scroll">
                        <a href="abes/current_status">Current Status</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/abes/who">Who We Are</a>
                    </li>
                    <li class="page-scroll">
                        <a href="abes/news">News</a>
                    </li>
                    <li class="page-scroll">
                        <a href="inquiries/new">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    <div class="header">

        <div class="header-content" style='margin-top:-70px;'>
            <img src="http://imgur.com/r2lx3Sy.png" class="img-responsive" style="margin: 0 auto;">
            <h3 class="typed"></h3>
        </div>

        <div style="margin-top:40px; text-align:center; font-weight:bold;color:black">
            "ABES brings Anaerobic Technology into the 21st century ie; 
            <br>dramatic improvements in efficiency, <br>profitability with a positive impact to the environment."<br>
            - John Wasden    
        </div>

        <div style='text-align:center;margin-top:20px;'>
            <%= link_to "#Bill", class: "btn btn-default", id: "arrow" do %>
              <i class="fa fa-arrow-circle-down"></i>
            <% end %>

        </div>
    </div>
    <div id="section2">

        <div style=' text-align:center; padding-top:250px; font-weight:bold;color:black'>
        
        “The ABES system will dramatically alter the organic waste processing
industry from one requiring public subsidies for operation, <br>to an industry that 
provides a very attractive revenue stream from the production of renewable 
energy.”<br> -Dr Bill Stewart, Founder, CTO ABES
    </div>
<div id="Bill" style="margin-top:300px;visibility:hidden">here</div>
            

    
   </div>
    
</body>

</html>

