<!DOCTYPE html>
<html lang="en">

<body>
    
    <div class="employees">
        <div class="container">
            <h1 style="text-align:center">What We Do</h1>
                <img style="float:right; width:50%; margin:10px; margin-bottom:10px;", src="http://myriadpower.com/images13/complete4.jpg")>
                <h4>
                    ABES has developed and patented an innovative biotechnological solution
                    that significantly increases the production of renewable methane gas from the tried
                    and proven anaerobic digestion process. 
                </h4>
                <h4>
                    The ABES three-stage anaerobic digestion system increases the allowable 
                    
                    flow throughput of the biological process, significantly reduces inhibition effects, 
                    
                    and isolates and optimizes environmental conditions of the methane producing 
                    
                    microbial populations in the final stage of the system. <b>It operates by the addition 
                    
                    of two smaller reaction tanks (ABES Stages II and III) connected in series to 
                    
                    the original primary anaerobic digester, which functions as Stage I of the 
                    
                    ABES system. ABES Stage II, operated as an upflow flocculent sludge bed 
                    
                    digester, completes hydrolysis, hydrogen gas production and removal of 
                    
                    suspended solids, while ABES Stage III, an upflow packed bed rector using the 
                    
                    ABES patent pending biofilm attachment media, is optimized to significantly 
                    
                    increase production levels of clean renewable methane gas.</b>
                </h4>
                <h4>
                    The benefits of this approach include:
                    <h4>
                        1. <b>Throughput processing time is reduced</b> from 21 to 7-8 days, reducing 
                        
                        tankage requirements and capital costs, while increasing methane 
                        
                        production.
                    </h4>
                    <h4>
                        2. The <b>capital cost per unit of throughput is half</b> that of a single stage 
                        
                        anaerobic digestion system. ABES’s increase in efficiency and biogas 
                        
                        production directly translates to three times greater revenue potential as 
                        
                        compared to a conventional system.
                    </h4>
                    <h4>
                        3. Residual <b>non-digestible solids are reduced by up to 80 percent,</b> 
                        
                        increasing methane production while further reducing operational costs and 
                        
                        residue disposal requirements.
                    </h4>
                    <h4>
                        4. The ABES system permits <b>easy adaptation of co-digestion</b> of additional 
                        
                        organic waste streams including food wastes, green wastes, fats, oils and greases 
                        
                        and animal production manures with wastewater sludge. Incorporation of 
                        
                        mixed organics in this way can further increase renewable energy output by an 
                        additional 5 to 6 times that produced in standard digesters. 
                    </h4>
                    <h4>
                    The <b>market</b> for the ABES system is already available and waiting for this 
                    highly efficient and cost effective anaerobic digestion system. The ABES system 
                    can be quickly and cost effectively retrofitted to the thousands of single stage 
                    anaerobic digesters currently operational at both municipal and industrial 
                    wastewater treatment plants worldwide. It can also be installed independently 
                    at the 1,200 dairies and 1,400 other animal production farms in the United 

                    States which have been identified by the EPA as candidates for this type of 
                    technology.
                </h4>
                <h4>
                    ABES will license the technology to dealers worldwide and also provide 
                    ongoing contractual support to meet these opportunities.
                    The ABES system creates a new worldwide industry. Owners will see an 
                    attractive income stream, investors will have to opportunity for returns on a 
                    very profitable business, and the environment will benefit from a reliable source 
                    of clean, carbon-neutral renewable energy.
                </h4>
        </div>
    </div>  
    </div>

</body>

</html>
