// Place all the styles related to the Abes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


html, body {
    height: 100%;
}


h1, h2, h3, h4, p {
    font-family: 'lato';
    font-weight: 400;
}


.header {
  width: 100%;
  height: 100%;
  background: url(http://media.giphy.com/media/RYM4lKa9TPies/giphy.gif) no-repeat center center fixed;
  background-color: #f8f8f8; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  vertical-align: middle;
  padding-top: 200px;
}

.header h3 {
  font-family: 'Lato';
  color: #000;
  text-align: center;
  letter-spacing: 2px;
}

.header h4 {
  font-family: 'lato';
  text-align: center;
  color: #fff;
}

.heading{
  color: #0089FF;
}
.typed{
  color: #fff;
  font-family: sans-serif;
}
pre{

  word-break: normal;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #F7F7F7;
  border-radius: 3px;
  font: 16px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 1.6;
}

.title {
  text-align: left;
  font-family: 'lato';
  background-color: #95a5a6;
  padding-top: 40px;
}

.employees {
  padding-left: 0;
  padding-bottom: 30px;
  padding-right: 60px;
  padding-left: 60px;
}

.employees h1{
  font-size: 80px;
}

.img {
  margin: 0 auto;
}






.navbar {
    margin-bottom: 0;
    background-color: transparent;
    color: #000;
    font-weight: 400;
    font-family: 'Lato';
    font-size: 14px;
    padding-left: 10px;
}

.navbar-brand {
    font-weight: 100;
}

.navbar-brand:hover {
    outline: 0;
    font-weight: 200;
}

.navbar-custom a {
    color: #000;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    padding-right: 30px;
    background-color: transparent;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    color: #ddd;
    border-radius: 10px;
}

.navbar-toggle {
    font-size: 8px;
    color: #000;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        background-color: #ddd;
    }

}
