<!-- app/views/inquiries/new.html.erb -->
<% provide(:title, 'ABES: Contact Us') %>
<div style="text-align: center;">
  <h1>Want to get in touch?</h1>
  <hr>
  <p>Please fill out the form below and we'll get back to you as soon as possible.</p>

  <%= render 'form', :inquiry => @inquiry %>
</div>
